$primary-text-color: #193d40;
$secondary-text-color: #323232;
$primary-background-color: rgb(245, 245, 240);

$primary-border-color: rgba(50, 50, 50, .3);
$secondary-border-color: rgba(50, 50, 50, .9);
