@import 'colors';
@import 'fonts';

.about-cont {
  display: flex;
}

.about-desc-cont {
  flex: 0 0 40%;
}

.about-desc {
  display: flex;
  flex-direction: column;
  padding-left: 5em;
  padding-top: 5em;

  > h2 {
    font-size: 2rem;
    margin: .25em 0;
  }

  > p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: .25em 0;
  }
}

.about-aside {
  flex: 0 0 50%;
  padding-left: 8em;
  padding-top: 7em;

  .icon-and-descriptor {
    align-items: center;
    display: flex;
    padding: 1em 0;

    .icon-descriptor {
      font-size: 2rem;
      padding-left: 2em;
    }
  }

}
