@import 'colors';
@import 'fonts';

.about-cont {
  display: flex;
  height: 100%;
  justify-content: center;
  padding-left: 3%;
  padding-top: 5%;
}

.about-desc-cont {
  flex: 0 0 40%;
}

.about-desc {
  display: flex;
  flex-direction: column;

  > h2 {
    font-size: 2rem;
    margin: .25em 0;
  }

  > p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: .25em 0;
  }
}

.about-aside {
  flex: 0 0 40%;
  margin-left: 5em;

  .icon-and-descriptor {
    align-items: center;
    display: flex;
    padding: 1em 0;


    > a {
      color: $primary-text-color;
      text-decoration: none;
    }

    &:visited {
      color: $primary-text-color;
      text-decoration: none;
    }

    .icon-descriptor {
      font-size: 2rem;
      padding-left: 2em;
    }
  }

}
