@import 'colors';
@import 'fonts';

.main-desc-cont {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  margin-bottom: 7.5%;
  margin-left: 5%;
}

.main-desc {
  max-width: 65%;

  > p {
    color: $primary-text-color;
    font-family: $font-family-w-lora;
    font-size: 3.5rem;
    line-height: 6rem;
  }
}

@media (max-width: 1700px) {
  .main-desc {
    max-width: 80%;

    > p {
      color: $primary-text-color;
      font-family: $font-family-w-lora;
      font-size: 3rem;
      line-height: 6rem;
    }
  }
}
