@import 'colors';
@import 'fonts';

* {
  font-family: $base-font-family;
}

html,
body {
  height: 100%;
}

#root {
  background-color: $primary-background-color;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.site-cont {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.site-header {
  align-items: center;
  border-bottom: 1px solid $primary-border-color;
  display: flex;
  flex: 0 0 20%;
  padding: 1em 1.5em;
}

.site-logo {
  align-items: center;
  display: flex;

  img {
    border: 2px solid $secondary-border-color;
    margin: 0 1em;
  }

  > h1 {
    font-size: 2.25rem;
    letter-spacing: .2rem;
    margin: 0;
    text-transform: uppercase;

    a {
      color: $secondary-text-color;
      text-decoration: none;

      &:visited {
        color: $secondary-text-color;
        text-decoration: none;
      }
    }
  }
}

.main-nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  > ul {
    margin: 0;
  }

  li {
    display: inline;
    font-size: 2rem;
    letter-spacing: .1rem;
    padding: 0 .75em;
    text-transform: uppercase;
  }

  a {
    color: $secondary-text-color;
    text-decoration: none;

    &:visited {
      color: $secondary-text-color;
      text-decoration: none;
    }
  }
}
