@import 'colors';
@import 'fonts';

.projects-cont {
  display: flex;
  flex-direction: column;
}

.project-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4em 0;
}

.project-image-cont {
  border-right: 1px solid $primary-border-color;
  flex: 0 1 30%;
  padding-right: 3em;

  img {
    border: 1px solid $primary-border-color;
    max-width: 100%;
  }
}

.project-desc-cont {
  align-self: center;
  display: flex;
  flex: 0 0 40%;
  flex-direction: column;
  padding-left: 3em;

  > h1 {
    color: $primary-text-color;
  }

  > h2,
  h3,
  p {
    color: $secondary-text-color;
  }

  > h2 {
    font-weight: 600;
    line-height: 2.3rem;
    margin-bottom: .5em;
    margin-top: 0;
    width: 80%;
  }

  > h3 {
    font-style: italic;
    font-weight: 300;
    margin: 0;
  }
}
